*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.DS_Store
*.classpath
*.project
**/bin/

# Application #
paprika-web/application/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

**/target/
**/*.DS_Store
Paprika-analyze/lib/
Tandoori/


Other files:
android-platforms/
.metadata/
.recommenders/

dockerweb/clientkeystore.jks
*.json

**/.settings/

velocity.log
velocity.log.1