[submodule "CSAnnotations"]
	path = CSAnnotations
	url = https://github.com/Snrasha/CSAnnotations.git
[submodule "paprika"]
	path = paprika
	url = https://github.com/Snrasha/paprika.git
[submodule "Tandoori"]
	path = Tandoori
	url = https://github.com/Snrasha/Tandoori.git

