#* @implicitly included *#
#* @vtlvariable name="WebPath" type="app.utils.PathIn.Web" *#
#* @vtlvariable name="currentUser" type="java.lang.String" *#
#* @vtlvariable name="user" type="app.object.User" *#
#* @vtlvariable name="codesmell" type="app.object.CodeSmells" *#
#* @vtlvariable name="loggedOut" type="java.lang.String" *#
#* @vtlvariable name="title" type="java.lang.String" *#
#* @vtlvariable name="version" type="app.object.Version" *#
#* @vtlvariable name="application" type="app.object.Project" *#
#* @vtlvariable name="authenticationFailed" type="java.lang.String" *#
#* @vtlvariable name="authenticationSucceeded" type="java.lang.String" *#
#* @vtlvariable name="loginRedirect" type="java.lang.String" *#
