<!DOCTYPE html>
<html lang="en">
#parse("/velocity/pages/head.vm")
<body>
  <div id="wrapper">
    #parse("/velocity/pages/layout.vm")
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Dashboard: Delete settings </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <form method="post" action="/form_delete/" style="visibility:hidden">
          #set ($velocityMenu=0)
          #foreach($titleD in $user.getDataApplications())
          #set($titleDname=$titleD)
    		  #if($titleD.length()>15)
             #set($titleDname="$titleD.substring(0,16)"+"..")
             #end
<!--

                    <input type="checkbox" name="ton_nom" id="ton_nom" /> <label for="ton_nom">version 1/label><br />
                    <input type="checkbox" name="ton_nom" id="ton_nom" /> <label for="ton_nom">version 2</label><br />
                    <input type="checkbox" name="ton_nom" id="ton_nom" /> <label for="ton_nom">version 3</label><br />
                    <input type="checkbox" name="ton_nom" id="ton_nom" /> <label for="ton_nom">version 4</label>

           -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-bar-table-o fa-fw"></i>$titleDname
            </div>
            <div class="panel-footer">
              <a href="#" onclick="return textswitch('1$namec');">Versions</a>
            </div>
            <div class="panel-body" style="display:none" id="1$namec">
              <div style="margin-left: 25px;">
                <!-- Listes de toutes les versions -->
              </div>
            </div>
          </div>
          #end
          </form>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
  </div>
  <!-- /#wrapper -->
</body>
  #parse("/velocity/pages/script.vm")
</html>
