<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>$msg.get("ENACC_TITLE")</title>


      <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="../../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
      <link href="../../dist/css/sb-admin-2.css" rel="stylesheet">
      <link href="../../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">$msg.get("ENACC_HEADING")</h3>
                    </div>
                    <div class="panel-body">

                        #if($authENACC && $authENACC==2)
                        <p  class="good notification">$msg.get("ENACC_AUTH_SUCCESS")</p>
                        #else
                        <form role="form"  id="enableACCForm" method="post" action="/paprika/enableAccount/">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="$msg.get("ENACC_LABEL_EMAIL")" name="email" type="email" name="email" autofocus required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" pattern="^[a-zA-Z0-9-_\.]{6}$" placeholder="XXXXXX" name="activation" type="activation" required>
                                </div>
                              <input type="submit"  class="btn btn-lg btn-success btn-block" value="$msg.get("ENACC_BUTTON_VALID")">
                            </fieldset>
                        </form>
                        #if($authENACC && $authENACC==0)
                            <p class="bad notification">$msg.get("ENACC_AUTH_FAILED")</p>
                        #end
                        #if($authENACC && $authENACC==1)
                            <p class="bad notification">$msg.get("ENACC_AUTH_ALREADY")</p>
                        #end
                        #end
                      </div>
                      <div class="panel-heading">
                          <h6 class="panel-title">  <a href="/paprika/index/" >$msg.get("BUTTON_INDEX")</a></h6>
                      </div>
                      <div class="panel-heading">
                          <h6 class="panel-title"> <a href="/paprika/login/" >$msg.get("BUTTON_LOGIN")</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../vendor/metisMenu/metisMenu.min.js"></script>
    <script src="../../dist/js/sb-admin-2.js"></script>
</body>

</html>
