<!DOCTYPE html>
#set($flagAreaStack=false)
<html lang="en">
#parse("/velocity/pages/head.vm")
<body>
  <div id="wrapper">
    #parse("/velocity/pages/layout.vm")
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12" >
          #if($application)
          <h1 class="page-header">Dashboard:  $application.getName() </h1>
          #else
          <h1 class="page-header">Dashboard </h1>
          #end
        </div>
        <!-- /.col-lg-12 -->
      </div>

      <div class="row">
        <div class="col-lg-8">
          #if($application)
          <div id="infoTab" style="display:none" >
            #else
            <!--  <div id="infoTab" style="display:inline" >-->
            #end
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-info-o fa-fw"></i> Help
              </div>
              <div class="panel-body" style="overflow:auto;width: 100%;height:100%;">
                $msg.get("INDEX_NOT_LOGIN")
                <br> $msg.get("INDEX_NOT_LOGIN2")
                <br> $msg.get("INDEX_NOT_LOGIN3")
                <br>
                #if($application)
                <br> You need two versions analyzed for than the project display graph on them.
                #end
              </div>
            </div>
          </div>
          #if($application)
          #if($application.getNumberOfAnalysedVersion() >= 2)
          #set($flagAreaStack=true)
          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Area of number of code smells
              <div class="pull-right">
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /.panel-heading -->

            <div class="panel-body" style="overflow:auto;width: 100%;height:100%;">
              <div id="area-application"></div>

            </div>

            <!-- /.panel-body -->
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Radar of three last versions.
              <div class="pull-right">
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" style="overflow:auto;width: 100%;height:100%;">

              #parse("/velocity/pages/radarD3.vm")
              #@mainRadarD3()
              #end

              <!-- /.row -->
            </div>
            <!-- /.panel-body -->
          </div>
          #end
          #end
        </div>

      #if($application)
      <div class="col-lg-4">
        <!-- /.panel -->
        <div class="panel panel-red">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-file fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">$application.getNumberOfVersion() </div>
                <div>$msg.get("INDEX_DIV_NBV")</div>
              </div>
            </div>
          </div>


          <div class="panel-footer">
            <a href="#" id="a_text" onclick="uploadclick()">
              <span class="pull-left">$msg.get("INDEX_SPAN_AV")</span>
            </a>
            <a href="#" id="a_textwait" style="display:none">
              <span class="pull-left">$msg.get("INDEX_SPAN_AV_WAIT")</span>
            </a>
            <a  id="a_uploadsubmit" href="#" onclick="uploadsubmit()">
              <span class="pull-right"><i class="fa fa-upload"></i></span>
              <div class="clearfix"></div>
            </a>
            <a id="a_spinnericon" href="#" style="display:none">
              <span  class="pull-right" ><i class="fa fa-spinner fa-spin"></i></span>
              <div class="clearfix"></div>
            </a>

          </div>




          <form id="formuploadVersion" onsubmit="formsubmitWait();return false;" style="visibility: hidden; width: 1px; height: 1px" method="post" enctype="multipart/form-data" action="/index/">
            <input style="visibility: hidden; width: 1px; height: 1px" type="file" accept=".apk" name="appAndroid" id="appAndroid" required/>
            <button style="visibility: hidden; width: 1px; height: 1px" type="submit" id="submitversion">
            </button>
          </form>

          <script>
          function uploadclick() {
            document.getElementById("appAndroid").click();
            return false;
          }
          function uploadsubmit() {
            document.getElementById("submitversion").click();
            return false;
          }

          function formsubmitWait() {
            var x = document.forms["formuploadVersion"]["appAndroid"].value;
            if (x == "") {
              alert("No file");
              return false;
            }

            document.getElementById("a_text").style.display="none";
            document.getElementById("a_textwait").style.display = "inline";
            document.getElementById("a_uploadsubmit").style.display="none";
            document.getElementById("a_spinnericon").style.display = "inline";

            setTimeout(formsubmitWait2, 2000);


            return true;
          }
          function formsubmitWait2(){
            document.getElementById("formuploadVersion").onsubmit="return true;";
            document.getElementById("formuploadVersion").submit();

          }
          </script>
        </div>
        <!-- /.panel-body -->
      </div>

      #end
    </div>

    <!-- /.row -->
  </div>

  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
#parse("/velocity/pages/script.vm")

<form id="formuploadVersion" onsubmit="formsubmitWait();return false;" style="display: none" method="post" enctype="multipart/form-data" action="/index/">
  <input style="visibility: hidden; width: 1px; height: 1px" type="file" accept=".apk" name="appAndroid" id="appAndroid" required/>
  <button style="visibility: hidden; width: 1px; height: 1px" type="submit" id="submitversion">
  </button>
</form>

<script>
function uploadclick() {
  document.getElementById("appAndroid").click();
  return false;
}
function uploadsubmit() {
  document.getElementById("submitversion").click();
  return false;
}

function formsubmitWait() {
  var x = document.forms["formuploadVersion"]["appAndroid"].value;
  if (x == "") {
    alert("No file");
    return false;
  }

  document.getElementById("a_text").style.display="none";
  document.getElementById("a_textwait").style.display = "inline";
  document.getElementById("a_uploadsubmit").style.display="none";
  document.getElementById("a_spinnericon").style.display = "inline";

  setTimeout(formsubmitWait2, 2000);


  return true;
}
function formsubmitWait2(){
  document.getElementById("formuploadVersion").onsubmit="return true;";
  document.getElementById("formuploadVersion").submit();

}
#if($flagAreaStack)

#set($dataAreaChart=$application.getAreaChart())
#if($dataAreaChart!="")
$(function() {
     Morris.Area({
      element: 'area-application',
      data: [
        $dataAreaChart
      xkey: 'version',
      parseTime: false,
      pointSize: 2,
      hideHover: 'auto',
      xLabelAngle:45,
      resize: true
    });
});
#end
#end
</script>
</body>

</html>
