<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>$msg.get("SIGNUP_TITLE")</title>


      <!-- Bootstrap Core CSS -->
      <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- MetisMenu CSS -->
      <link href="../../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="../../dist/css/sb-admin-2.css" rel="stylesheet">

      <!-- Custom Fonts -->
      <link href="../../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">$msg.get("SIGNUP_INSTRUCTIONS")</h3>
                    </div>
                    <div class="panel-body">
                        #if($signUpSucceeded)
                          <p class="good notification">$msg.get("SIGNUP_NEED_VALID")</p>
                        #else
                        <form role="form"  id="signUpForm" method="post" action="/paprika/signUp/">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="$msg.get("SIGNUP_LABEL_EMAIL")" name="email" type="email" name="email" autofocus required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" placeholder="Password Ex: )Aa:a51A" name="password" type="password" value="" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" placeholder="Confirm Password" name="confirm_password" type="confirm_password" value="" required>
                                </div>
                                <div>
                                  $msg.get("SIGNUP_PWD_INSTRUCTIONS")
                                </div>
                                #if($loginRedirect)
                                    <input type="hidden" name="signUpRedirect" value="$signUpRedirect">
                                #end
                                <!-- Non utilisé, cela doit utiliser les cookies et aucune idée comment.
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                              -->
                            <fieldset>
                              <div class="g-recaptcha" data-sitekey="6LeReyYUAAAAAKcEex84ajPorGxbPH8SktMvzisU"></div>
                            </fieldset>
                            <fieldset>
                              <input type="submit"  class="btn btn-lg btn-success btn-block" value="$msg.get("BUTTON_SIGNUP")">
                            </fieldset>

                        </form>
                        #if($signUpFailed)
                            <p class="bad notification">$msg.get("SIGNUP_AUTH_FAILED")</p>
                        #end
                        #end
                      </div>
                      <div class="panel-heading">
                          <h6 class="panel-title">  <a href="/paprika/index/" >$msg.get("BUTTON_INDEX")</a></h6>
                      </div>
                      <div class="panel-heading">
                          <h6 class="panel-title"> <a href="/paprika/login/" >$msg.get("BUTTON_LOGIN")</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script src="../../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../dist/js/sb-admin-2.js"></script>

    <script>
    var password = document.getElementById("password");
    var confirm_password = document.getElementById("confirm_password");
function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
    </script>
</body>

</html>
