<!DOCTYPE html>
<html lang="en">
#parse("/velocity/pages/head.vm")
<body>
  <div id="wrapper">
    #parse("/velocity/pages/layout.vm")
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          #if($version)
          <h1 class="page-header">$msg.get("DASHBOARD")  $version.getName() </h1>
          #else
          <h1 class="page-header">$msg.get("DASHBOARD") </h1>
          #end
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->


      <div class="row">
        #if($version)
        #set($analyse=$version.isAnalyzed())

        #set($flagothers=false)
        #set($numberCodeSmells=$version.getNumberCodeSmells())
        #if($analyse != 0)
        #if($analyse <= 2)
        <div class="col-lg-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              $msg.get("VERSION_SPAN_AV_WAIT_LOADING", $version.getAnalyseInLoading())
              <div class="pull-right"><i class="fa fa-spinner fa-spin"></i></div>
            </div>
            <div class="panel-body">
              $msg.get("VERSION_SPAN_AV_WAIT")
            </div>
          </div>

        </div>
        #else
        #if($numberCodeSmells>0)
        #set($flagothers=true)
        #set($point=": ")
        <div class="col-lg-8">
          <div id="infoTab" style="display:none" >
            <!--  <div id="infoTab" style="display:inline" >-->
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-info-o fa-fw"></i>$msg.get("VERSION_HELP")
              </div>
              <div class="panel-body" style="overflow:auto;width: 100%;height:100%;">
              $msg.get("VERSION_TEXT")
              </div>
            </div>
          </div>
          #foreach($codesmell in $version.getAllCodeSmells())
          #if($codesmell.getNumberOfSmells() != 0)
          #set($namec=$codesmell.getName())
          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-bar-table-o fa-fw"></i>$namec$point$codesmell.getLongName()
            </div>
            <div class="panel-footer">
              <a href="#" onclick="return textswitch('1$namec');">$msg.get("VERSION_DESCRIPTION")</a>
            </div>
            <div class="panel-body" style="display:none" id="1$namec">
              <div style="margin-left: 25px;">
                $codesmell.getDescription()
              </div>
            </div>
            <div class="panel-footer">
              <a href="#" onclick="return textswitch('2$namec');">$msg.get("VERSION_DATA")</a>
            </div>
            <div class="panel-body" style="display:none;overflow:scroll;overflow:auto;" id="2$namec">
              <div style="overflow:scroll;overflow:auto;width: 100%;height:100%;">
                <table class="table" style="width: 90%;height:90%;">
                  $codesmell.getLineList()
                </table>
              </div>
            </div>
          </div>
          #end
          #end
        </div>
        #end
        #end
        #end
        #if($analyse==0)
  <div class="col-lg-8">
        <div id="infoTab" style="display:inline" >
          <!--  <div id="infoTab" style="display:inline" >-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-info-o fa-fw"></i>$msg.get("VERSION_HELP")
            </div>
            <div class="panel-body" style="overflow:auto;width: 100%;height:100%;">
              $msg.get("VERSION_TEXT2")
            </div>
          </div>
        </div>
        </div>
#end
        <div class="col-lg-4">
          #if($project)

          <div class="panel panel-red">
            <div class="panel-heading">
              <div class="row">
                #if($analyse==3)
                <div class="col-xs-3">
                  <i class="fa fa-file-text fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">$numberCodeSmells</div>
                  <div>$msg.get("VERSION_CS")</div>

                </div>

                #else
                <div class="col-xs-3">
                  <i class="fa fa-search fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge"> </div>
                  <div>$msg.get("VERSION_DIV_NBV_A")</div>
                </div>

                #end
              </div>
            </div>
            #if($analyse>0)
            <div class="panel-footer">
              <div class="clearfix"></div>
            </div>
            #else
            <a href="#" onclick="analysesubmit()">
              <div class="panel-footer">
                <span class="pull-left">$msg.get("VERSION_SPAN_AV_A")</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>

            <form id="analyseVersion" style="visibility: hidden; width: 1px; height: 1px" method="post" action="/paprika/version/">
              <input style="visibility: hidden; width: 1px; height: 1px" type="text" name="analyse" id="analyse" value="True"/>
              <button style="visibility: hidden; width: 1px; height: 1px" type="submit" id="submitAnalyse">
              </button>
            </form>

            <script>
            function analysesubmit() {
              document.getElementById("submitAnalyse").click();
              return false;
            }
            </script>
            #end
          </div>
          #end

          #if($flagothers)
          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> $msg.get("VERSION_DONUT")
            </div>
            <div class="panel-body">
              <div id="donutVersion">
              </div>
              <a href="https://github.com/GeoffreyHecht/paprika/wiki/Paprika-model-and-metrics" class="btn btn-default btn-block">$msg.get("VERSION_INFOMORE")</a>
            </div>
          </div>

          #end



        </div>

        #end
      </div>
      <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->
  #parse("/velocity/pages/script.vm")



  <script>
  #if($version)
  #set($analyse=$version.isAnalyzed())
  #if($analyse==3)
  $(function() {
    Morris.Donut({
      element: 'donutVersion',
      data: [

        #foreach($codesmell in $version.getAllCodeSmells())
        #set ($numb=$codesmell.getNumberOfSmells())
        #if($numb ne 0)
        {
          label:"$codesmell.getName()",
          value: $numb
        },
        #end
        #end
      ],
      resize: true
    });
  });
  #end
  #end
  function textswitch(divid) {

    if(document.getElementById(divid).style.display=="none"){
      document.getElementById(divid).style.display = "inline";

    }
    else{
      document.getElementById(divid).style.display = "none";
    }
    return false;
  }
  </script>
</body>

</html>
