<!DOCTYPE html>
<html lang="en">
#parse("/velocity/pages/head.vm")
<body>
  <div id="wrapper">
    #parse("/velocity/pages/layout.vm")
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          #if($version)
          <h1 class="page-header">Dashboard:  $version.getName() </h1>
          #else
          <h1 class="page-header">Dashboard </h1>
          #end
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->

      #if($version)
  #set($numberCodeSmells=$version.getNumberCodeSmells())
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">26</div>
                  <div>New Comments!</div>
                </div>
              </div>
            </div>
            <a href="#">
              <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="panel panel-green">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-tasks fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">12</div>
                  <div>New Tasks!</div>
                </div>
              </div>
            </div>
            <a href="#">
              <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="panel panel-yellow">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-shopping-cart fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">124</div>
                  <div>New Orders!</div>
                </div>
              </div>
            </div>
            <a href="#">
              <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>
        #if($application)

        <div class="col-lg-3 col-md-6">
          <div class="panel panel-red">
            <div class="panel-heading">
              <div class="row">
                #if($analyse)
                <div class="col-xs-3">
                  <i class="fa fa-file-text fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">$numberCodeSmells</div>
                  <div>Code Smells</div>

                </div>

                #else
                <div class="col-xs-3">
                  <i class="fa fa-search fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge"> </div>
                  <div>$msg.get("VERSION_DIV_NBV_A")</div>
                </div>
                #end
              </div>
            </div>
            #if($analyse)
              <div class="panel-footer">
                <div class="clearfix"></div>
              </div>
            #else
            <a href="#" onclick="analysesubmit()">
              <div class="panel-footer">
                <span class="pull-left">$msg.get("VERSION_SPAN_AV_A")</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>

            <form id="analyseVersion" style="visibility: hidden; width: 1px; height: 1px" method="post" action="/version/">
              <input style="visibility: hidden; width: 1px; height: 1px" type="text" name="analyse" id="analyse" value="True"/>
              <button style="visibility: hidden; width: 1px; height: 1px" type="submit" id="submitAnalyse">
              </button>
            </form>

            <script>
            function analysesubmit() {
              document.getElementById("submitAnalyse").click();
              return false;
            }
            </script>
            #end
          </div>
        </div>
        #end
      </div>

      #if($analyse)
      #if($analyseInLoading)
      <div class="row">
        <div class="col-lg-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              $msg.get("VERSION_SPAN_AV_WAIT_LOADING", $analyseInLoading)
              <div class="pull-right"><i class="fa fa-spinner fa-spin"></i></div>

            </div>
            <div class="panel-body">
              $msg.get("VERSION_SPAN_AV_WAIT")
            </div>
          </div>
        </div>
      </div>
      #else
      #if($numberCodeSmells==0)
        <div class="row"></div>
      #else
      <!-- /.row -->
      <div class="row">
        #set($point=": ")
        <div class="col-lg-8">
        #foreach($codesmell in $version.getAllCodeSmells())
        #if($codesmell.getNumberOfSmells() != 0)
        #set($namec=$codesmell.getName())
          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-bar-table-o fa-fw"></i>$namec$point$codesmell.getLongName()
            </div>
            <div class="panel-footer">
              <a href="#" onclick="return textswitch('1$namec');">Description</a>
            </div>
            <div class="panel-body" style="display:none" id="1$namec">
              <div style="margin-left: 25px;">
                $codesmell.getDescription()
              </div>
            </div>
            <div class="panel-footer">
              <a href="#" onclick="return textswitch('2$namec');">Data</a>
            </div>
            <div class="panel-body" style="display:none;overflow:scroll;overflow:auto;" id="2$namec">
              <div style="overflow:scroll;overflow:auto;width: 100%;height:100%;">
                <table class="table" style="width: 90%;height:90%;">
                  $codesmell.getLineList()
                </table>
              </div>
            </div>
          </div>
        #end
        #end
        </div>
        <div class="col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Donut Code Smells
            </div>
            <div class="panel-body">
              <div id="donutVersion">
              </div>
              <a href="https://github.com/GeoffreyHecht/paprika/wiki/Paprika-model-and-metrics" class="btn btn-default btn-block">Informations variables Paprika</a>
            </div>
          </div>
        </div>
      </div>
      #end
      #end
      #end
      #end
      <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->
  #parse("/velocity/pages/script.vm")



  <script>
    #if($analyse)
  $(function() {
    Morris.Donut({
      element: 'donutVersion',
      data: [

        #foreach($codesmell in $version.getAllCodeSmells())
        #set ($numb=$codesmell.getNumberOfSmells())
        #if($numb ne 0)
        {
          label:"$codesmell.getName()",
          value: $numb
        },
        #end
        #end
      ],
      resize: true
    });
  });
  #end
  function textswitch(divid) {

    if(document.getElementById(divid).style.display=="none"){
      document.getElementById(divid).style.display = "inline";

    }
    else{
      document.getElementById(divid).style.display = "none";
    }
    return false;
  }
  </script>
</body>

</html>
